ul.ChoiceStructure li {
    float: left;
    font-size: 12px;
}

ul.AnswerBucket {
    background-color: white !important;

}

ul.AnswerBucket li {
    background-color: white !important;
    text-align: center !important;
    font-size: 12px !important;
}


button.climr-boxer {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: black;
    margin: 2px;
}

